.welcome {
  margin: 0 auto;
  min-height: 750px;
  background-image: linear-gradient(90deg,#d4c48a 20%,#2a2c2f 100%);
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  flex-wrap: wrap;
  gap: 20px;
}

/*
.welcome::before {
  content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}
*/
